<%= link_to "Добавить должность", new_position_path, :class => "btn" %>
<hr>
<table class="table table-striped table-bordered">
	<% if !@positions.blank? %>
	<% @positions.each do |position| %>
	    <tr>
	    	<td>
	    		<%= position.name %>
	    	</td>
	    	<td>
	  			<%= link_to 'Изменить', edit_position_path(position), :class => 'btn btn-mini' %>
	  		</td>	
	  		<td>
	  			<%= link_to 'Удалить', position, method: :delete, :class => 'btn btn-mini btn-danger' %>
	  		</td>
	    </tr>
	<% end %>
	<% else %>
	  
	<% end %>
</table>
<hr>
<div>
<% if !@positions.blank? %>

<%= select_tag :position, options_for_select(@positions.map{ |f| [f.name, f.name] }) %>

<% else %>

<% end %>
</div>
