<%= link_to "Добавить состав", new_consist_path, :class => "btn" %>
<hr>
<table class="table table-striped table-bordered">
	<% if !@consists.blank? %>
	<% @consists.each do |consist| %>
	    <tr>
	    	<td>
	    		<%= consist.name %>
	    	</td>	
	  		<td>
	  			<%= link_to 'Изменить', edit_consist_path(consist), :class => 'btn btn-mini' %>
	  		</td>
	  		<td>
	  			<%= link_to 'Удалить', consist, method: :delete, :class => 'btn btn-mini btn-danger' %>
	  		</td>
	    </tr>
	<% end %>
	<% else %>
	  
	<% end %>
</table>
<hr>
<div>
<% if !@consists.blank? %>

<%= select_tag :consist, options_for_select(@consists.map{ |f| [f.name, f.name] }) %>

<% else %>

<% end %>
</div>
