<%= link_to "Добавить факультет", new_faculty_path, :class => "btn" %>
<hr>
<table id="faculties" class="table table-striped table-bordered">
	<% if !@faculties.blank? %>
	<% @faculties.each do |faculty| %>
	    <tr>
	  		<td>
	  			<%= link_to faculty.facultyname, faculty_path(faculty) %>
	  		</td>
	  		<td>
	  			<%= link_to 'Изменить', edit_faculty_path(faculty), :class => 'btn btn-mini' %>
	  		</td>
	  		<td>
	  			<%= link_to 'Удалить', faculty, method: :delete, :class => 'btn btn-mini btn-danger' %>
	  		</td>
	    </tr>
	<% end %>
	<% else %>
	  
	<% end %>
</table>
<hr>
<!--<div id="faculties">
<% if !@faculties.blank? %>

<%= select_tag :faculty, options_for_select(@faculties.map{ |f| [f.facultyname, f.facultyname] }) %>

<% else %>

<% end %>
</div>-->
