<%= link_to "Добавить специаольность", new_specialty_path, :class => "btn" %>
<hr>
<div id = "cd">
<table class="table table-striped table-bordered">
	<thead>
			<tr>
				<th>Код специаольности</th>
				<th>Назваие специаольности</th>
				<th>Срок обучения</th>
				<th>Присвоенный факультет</th>
			</tr>
	</thead>
	<% if !@specialties.blank? %>
	<% @specialties.each do |specialty| %>
	    <tr>
	    	<td>
	    		<%= link_to specialty.specialtynumber %>
	    	</td>	
	  		<td>
	  			<%= specialty.specialtyname %>
	  		</td>
	  		<td>
	  			<%= specialty.training_term %>
	  		</td>
	  		<td>
	  			<%= specialty.faculty.try(:facultyname) %>
	  		</td>
	  		<td>
	  			<%= link_to 'Изменить', edit_specialty_path(specialty), :class => 'btn btn-mini' %>
	  		</td>
	  		<td>
	  			<%= link_to 'Удалить', specialty, method: :delete, :class => 'btn btn-mini btn-danger' %>
	  		</td>
	    </tr>
	<% end %>
	<% else %>
	  
	<% end %>
</table>
</div>
<hr>
<div>
<% if !@specialties.blank? %>

<%= select_tag :specialty, options_for_select(@specialties.map{ |f| [f.specialtynumber, f.specialtyname] }) %>

<% else %>

<% end %>
</div>
