<%= link_to "Добавить звание", new_rank_path, :class => "btn" %>
<hr>
<div class = "123">
<table class="table table-striped table-bordered">
	<% if !@ranks.blank? %>
	<% @ranks.each do |rank| %>
	    <tr>
	    	<td>
	    		<%= rank.name %>
	    	</td>
	    	<td>
	  			<%= link_to 'Изменить', edit_rank_path(rank), :class => 'btn btn-mini' %>
	  		</td>	
	  		<td>
	  			<%= link_to 'Удалить', rank, method: :delete, :class => 'btn btn-mini btn-danger' %>
	  		</td>
	    </tr>
	<% end %>
	<% else %>
	  
	<% end %>
</table>
</div>
<hr>
<div>
<% if !@ranks.blank? %>

<%= select_tag :rank, options_for_select(@ranks.map{ |f| [f.name, f.name] }) %>

<% else %>

<% end %>
</div>
