<p>
<%= link_to "Создать призывника", new_personalfile_path, :class => "btn" %>
<!--<%= link_to "Полный список", more_personalfiles_path, :class => "btn" %>-->
</p>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">I. Общие сведения</a></li>
    <li><a href="#tab2" data-toggle="tab">II. Сведения о воинском учете</a></li>
    <li><a href="#tab3" data-toggle="tab">III. Назначения и перемещения</a></li>
    <li><a href="#tab4" data-toggle="tab">IV. Отпуска</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
		<table class="table table-striped table-bordered" >
			<thead>
					<tr>
						<th><%= sort_link @search, :id, "№" %></th>
						<th><%= sort_link @search, :firstname, "ФИО" %></th>
						<th><%= sort_link @search, :gender, "Пол" %></th>
						<th><%= sort_link @search, :date_of_birth, "Год" %></th>
						<th><%= sort_link @search, :place_of_birth, "Место рождения" %></th>
						<th><%= sort_link @search, :education, "Образование" %></th>
						<th><%= sort_link @search, :family_status, "Семейное положение" %></th>
						<th><%= sort_link @search, :family, "Состав семьи" %></th>
						<th>№ Спец</th>
						<th><%= sort_link @search, :specialty_id, "Наз.Спец" %></th>
						<th>Наз.Фак</th>
						<!--<th><%= sort_link @search, :traningcourse, "Курс" %></th>
						<th><%= sort_link @search, :academicyear, "Уч.год" %></th>
						<th><%= sort_link @search, :traning_period, "Срок обуч." %></th>
						<th><%= sort_link @search, :position_id, "Должность" %></th>
						<th><%= sort_link @search, :rank_id, "Звание" %></th>
						<th><%= sort_link @search, :consist_id, "Состав" %></th>
						<th><%= sort_link @search, :recruitmentoffice_id, "Военкомат" %></th>
						<th>Сп.Уч</th>
						<th>Мб.Пр.</th>
						<th>Кат.</th>-->
						<th>Примечание</th>
					</tr>
			</thead>
			<tbody>		
			<% if !@personalfiles.blank? %>
			<% @personalfiles.each do |personalfile| %>
			    <tr>
			    	<td>
			    		<%= personalfile.id %>
			    	</td>
			    	<td>
			    		<%= personalfile.firstname %><br />
			    	
			  			<%= personalfile.middlename %><br />

			  			<%= personalfile.lastname %>
			  		</td>
			  		<td>
			  			<%= personalfile.gender %>
			  		</td>
			  		<td>
			  			<%= personalfile.date_of_birth %>
			  		</td>
			  		<td>
			  			<%= personalfile.place_of_birth %>
			  		</td>
			  		<td>
			  			<%= personalfile.education %>
			  		</td>
			  		<td>
			  			<%= personalfile.family_status %>
			  		</td>
			  		<td>
			  			<%= personalfile.family %>
			  		</td>
			  		<td>
			  			<%= personalfile.specialty.try(:specialtynumber) %>
			  		</td>
			  		<td>
			  			<%= personalfile.specialty.try(:specialtyname) %>
			  		</td>	
			  		<td>
			  			<%= personalfile.specialty.try(:faculty).try(:facultyname) %>	
			  		</td>
			  		<!--<td>
			  			<%= personalfile.traningcourse %>
			  		</td>
			  		<td>
			  			<%= personalfile.academicyear %>
			  		</td>
			  		<td>
			  			<%= personalfile.specialty.try(:training_term) %>
			  		</td>
			  		<td>
			  			<%= personalfile.position.try(:name) %>
			  		</td>
			  		<td>
			  			<%= personalfile.rank.try(:name) %>
			  		</td>
			  		<td>
			  			<%= personalfile.consist.try(:name) %>
			  		</td>
			  		<td>
			  			<%= personalfile.recruitmentoffice.try(:smallname) %>
			  		</td>
			  		<td>
			  			<%= personalfile.specialaccount %>
			  		</td>
			  		<td>
			  			<%= personalfile.mobileorder %>
			  		</td>
			  		<td>
			  			<%= personalfile.category %>
			  		</td>-->
			  		<td>
			  			<%= personalfile.note %>
			  		</td>
			  		<td>
			  			<%= link_to '', personalfile_path(personalfile), :class => "icon-print" %>
			  		</td>	
			  		<td>
			  			<%= link_to 'Изменить', edit_personalfile_path(personalfile), :class => 'btn btn-mini' %>
			  		</td>
			  		<td>
			  			<%= link_to 'Удалить', personalfile, method: :delete, :class => 'btn btn-mini btn-danger' %>
			  		</td>
			    </tr>
			<% end %>
			<% else %>
			  
			<% end %>
			</tbody>
		</table>
</div>
    <div class="tab-pane" id="tab2">
      <table class="table table-striped table-bordered" >
			<thead>
					<tr>
						<th><%= sort_link @search, :firstname, "ФИО" %></th>
						<th><%= sort_link @search, :position_id, "Должность" %></th>
						<th><%= sort_link @search, :rank_id, "Звание" %></th>
						<th><%= sort_link @search, :consist_id, "Состав" %></th>
						<th><%= sort_link @search, :recruitmentoffice_id, "Военкомат" %></th>
						<th>Сп.Уч</th>
						<th>Мб.Пр.</th>
						<th>Кат.</th>
					</tr>
			</thead>
			<tbody>		
			<% if !@personalfiles.blank? %>
			<% @personalfiles.each do |personalfile| %>
			    <tr>
			    	<td>
			    		<%= personalfile.firstname %><br />
			    	
			  			<%= personalfile.middlename %><br />

			  			<%= personalfile.lastname %>
			  		</td>
			    	<td>
			  			<%= personalfile.position.try(:name) %>
			  		</td>
			  		<td>
			  			<%= personalfile.rank.try(:name) %>
			  		</td>
			  		<td>
			  			<%= personalfile.consist.try(:name) %>
			  		</td>
			  		<td>
			  			<%= personalfile.recruitmentoffice.try(:bigname) %>
			  		</td>
			  		<td>
			  			<%= personalfile.specialaccount %>
			  		</td>
			  		<td>
			  			<%= personalfile.mobileorder %>
			  		</td>
			  		<td>
			  			<%= personalfile.category %>
			  		</td>
			  		<td>
			  			<%= link_to '', personalfile_path(personalfile), :class => "icon-print" %>
			  		</td>	
			  		<td>
			  			<%= link_to 'Изменить', edit_personalfile_path(personalfile), :class => 'btn btn-mini' %>
			  		</td>
			  		<td>
			  			<%= link_to 'Удалить', personalfile, method: :delete, :class => 'btn btn-mini btn-danger' %>
			  		</td>
			    </tr>
			<% end %>
			<% else %>
			  
			<% end %>
			</tbody>
		</table>
		</div>
		<div class="tab-pane" id="tab3">
      		<p>ПУСТО!</p>
    	</div>
    	<div class="tab-pane" id="tab4">
      		<p>ПУСТО!</p>
    	</div>
	  </div>
	</div>	