<%= link_to "Создать призывника", new_personalfile_path, :class => "btn" %>
<hr>
<table class="table table-striped">
	<thead>
			<tr>
				<th>№</th>
				<th>ФИО</th>
				<th>Пол</th>
				<th>Год	</th>
				<th>№ Спец</th>
				<th>Наз.Спец</th>
				<th>Наз.Фак</th>
				<th>Курс</th>
				<th>Учеб. год</th>
				<th>Срок обуч.</th>
				<th>Звание</th>
				<th>Состав</th>
				<!--<th>Военкомат</th>-->
				<th>Должность</th>
				<th>Сп.Уч</th>
				<th>Мб.Пр.</th>
				<th>Кат.</th>
				<th>Примечание</th>
			</tr>
	</thead>
	<tbody>		
	<% if !@personalfiles.blank? %>
	<% @personalfiles.each do |personalfile| %>
	    <tr>
	    	<td>
	    		<%= personalfile.id %>
	    	</td>
	    	<td>
	    		<%= personalfile.firstname %><br />
	    	
	  			<%= personalfile.middlename %><br />

	  			<%= personalfile.lastname %>
	  		</td>
	  		<td>
	  			<%= personalfile.gender %>
	  		</td>
	  		<td>
	  			<%= personalfile.year %>
	  		</td>
	  		<td>
	  			<%= personalfile.specialty.try(:specialtynumber) %>
	  		</td>
	  		<td>
	  			<%= personalfile.specialty.try(:specialtyname) %>
	  		</td>	
	  		<td>
	  			<%= personalfile.specialty.try(:faculty).try(:facultyname) %>	
	  		</td>
	  		<td>
	  			<%= personalfile.traningcourse %>
	  		</td>
	  		<td>
	  			<%= personalfile.academicyear %>
	  		</td>
	  		<td>
	  			<%= personalfile.traning_period %>
	  		</td>
	  		<td>
	  			<%= personalfile.rank.try(:name) %>
	  		</td>
	  		<td>
	  			<%= personalfile.consist.try(:name) %>
	  		</td>
	  		<!--<td>
	  			<%= personalfile.recruitmentoffice.try(:bigname) %>
	  		</td>-->
	  		<td>
	  			<%= personalfile.position.try(:name) %>
	  		</td>
	  		<td>
	  			<%= personalfile.specialaccount %>
	  		</td>
	  		<td>
	  			<%= personalfile.mobileorder %>
	  		</td>
	  		<td>
	  			<%= personalfile.category %>
	  		</td>
	  		<td>
	  			<%= personalfile.note %>
	  		</td>
	  		<td>
	  			<%= link_to '', personalfile_path(personalfile), :class => "icon-print" %>
	  		</td>	
	  		<td>
	  			<%= link_to 'Edit', edit_personalfile_path(personalfile), :class => 'btn btn-mini' %>
	  		</td>
	  		<td>
	  			<%= link_to 'Destroy', personalfile, method: :delete, :class => 'btn btn-mini btn-danger' %>
	  		</td>
	    </tr>
	<% end %>
	<% else %>
	  
	<% end %>
	</tbody>
</table>