<div>
<a class= "btn btn-primary" onClick="javascript:CallPrint('print-content');" title="Распечатать проект">Распечатать</a>
</div>
<div float = 'right' class = 'container' id="print-content" >
		<div class = 'top'>
			<div class = 'left'>
				<table>
					<tr><th>Минестерство образования и науки</th></tr>
					<tr><th>Российской федирации</th></tr>
					<tr><td>Федеральное государственное бюджетное</td></tr>
					<tr><td>образовательное учереждение высшего</td></tr>
					<tr><td>профессионального оброзования</td></tr>
					<tr><th>"Тверской государственный университет"</th></tr>
					<tr><th>(ТвГУ)</th></tr>
					<tr><td>Желябова ул., д.33 Тверь. 170100</td></tr>
					<tr><td>Телефоны 34-24-52, 63-02-34</td></tr>
					<tr><td>___________№____________</td></tr>
				</table>
			</div>
			<div class = 'right' , float = 'left'>
				<table>
					<tr><td>Приложение №2</td></tr>
					<tr><td>к Перечню(п..3)</td></tr>
					<tr><td>к Приложению №32</td></tr>
					<tr><td>к Инструкции</td></tr>
					<tr><td>утв. приказом Минобороны РФ</td></tr>
					<tr><td>от 2 октября 2007 г. №400</td></tr>
				</table>

			</div> 
		</div>
		<div class = 'content'>
			<h1 align = 'center' >Справка</h1>
			<p align = 'center'> 
				Выдана гражданину <strong><%= @per.firstname %> <%= @per.middlename %> <%= @per.lastname %></strong><br/>
				<strong><%= @per.year %></strong> года рождения, в том что он в _____________поступил имея <br>
				образование __________________ в Тверской государственный университет,<br>
				приказ № _________________ от __________________г. и в настоящее время<br>
				обучаеться на <strong><%= @per.traningcourse %></strong> курсе по очной форме обучения по напровлению<br>
				подготовки(специальности) <strong><%= @per.specialty.try(:specialtyname) %> <%= @per.specialty.try(:specialtynumber) %> <%= @per.specialty.try(:faculty).try(:facultyname) %></strong> <br>
				имеющие государственную акредитацию серия 90А01 № 0000430, гестрицион-<br>
				ный № 0426 от 15.03.2013 года (срок действия до 29.12.2018) и лецензию<br>
				напрово ведения образовательной деятельности серия ААА № 002243, регистра-<br>
				ционный № 0426 от 15.03.2013 года (срок дйствия-бессроно). Свидетельство об<br>
				аккредитации и лицензия выданы Федеральной службой по надзору в сфере обра-<br>
				зования и науки.<br>
			</p>
			<p align = 'center'>
				Окончание обучения в образовательном учереждении (окончание обучения<br>
				по программам послевузовского образования и защиты квалификационной работы)<br>
				<br>
				"_____" ________________  20___ г.<br>
				<br>
				Справка дана для предъявления в отдел военного комиссариата<br>
				___________________________________________________________<br>
				
				Ректор ______________________ А.В.Белоцерковский<br>
				Заключил контракт и приступил к обучеию по программе подготовки<br>
				офицера запаса с 20__г. Оканчание обучения "___" ____________  20__ г.<br>
				Аттестационный материал оформляет _________________________________<br>
				М.П. Начальник (заместитль начальника) военной кафедры<br>
				      (учебного военного центра)______________________________<br>
			</p>
		</div>
	</div>