<!DOCTYPE html>
<html>
<head>
  <title>SFAppSpANDFac</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script language="javascript">
	function CallPrint(strid)
	{
	 var prtContent = document.getElementById(strid);
	 var prtCSS = '<link rel="stylesheet" href="spravka.css" >';
	 var WinPrint = window.open('','','left=50,top=50,width=800,height=640,toolbar=0,scrollbars=1,status=0');
	 WinPrint.document.write('<div id="print" class="contentpane">');
	 WinPrint.document.write(prtCSS);
	 WinPrint.document.write(prtContent.innerHTML);
	 WinPrint.document.write('</div>');
	 WinPrint.document.close();
	 WinPrint.focus();
	 WinPrint.print();
	 WinPrint.close();
	 prtContent.innerHTML=strOldOne;
	}
  </script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    
      <% if user_signed_in? %>

      <a class="brand" ><%= image_tag("tvgu_0.jpg", size: "20") %>  <%= current_user.email %></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Главная" %></li>
          <li><%= link_to "Все личности", personalfiles_path %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Справочники<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Факультеты", faculties_path %></li>
            <li><%= link_to "Специальности", specialties_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Звания", ranks_path %></li>
            <li><%= link_to "Составы", consists_path %></li>
            <li><%= link_to "Комиссариаты", recruitmentoffices_path %></li>
            <li><%= link_to "Должности", positions_path %></li>
          </ul>
        </li>
          <li><%= link_to "Отчеты" %></li>
          <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Поиск">
          </form>
          <li><%= link_to "Выйти", destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <!--<%= link_to "Войти", new_user_session_path %>-->
          <% end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--<% if user_signed_in? %>	
	<%= current_user.email %> <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
<% else %>
 <%= link_to "Регистироваться", new_user_registration_path %> или  <%= link_to "Войти", new_user_session_path %>
<% end %> -->
<%= yield %>

</body>
</html>
