<!DOCTYPE html>
<html>
<head>
  <title>SFAppSpANDFac</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<table border = "1">
			<tr>
				<td>Главная</td>
				<td ><%= link_to "Личная карточка", personalfiles_path %></td>
				<td>Списки</td>
				<td>Отчеты</td>
				<td>Информация</td>
			</tr>
		</table>
<hr>
<%= yield %>

</body>
</html>
